p {
    /* Content - width and Height */
    width: 50%; /* 50 percents of the parent's element */

    /* Border */
    border: 2px solid blue;

    /* Padding */
    padding-left: 40;
    /* Margin */
    /* margin: 100px; */
    /* margin: 0 auto 0 auto; */
    /* margin: 0 auto; */
    margin: 50px, 20px;
}

