h1 {
    text-align: center;
}
table {
    margin: auto;
}

td {
    width: 100px;
    height: 100px;
}

td.vertical {
    border-right: 1px solid black;
    border-left: 1px solid black;

}

td.horizontal {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}